 <header class="header">
     <nav class="header-nav">
         <ul class="header-nav__items">
             <li class="header-nav__item"> <a href="/admin/add-product">Add product</a></li>
             <li class="header-nav__item"> <a href="/">Home</a></li>
         </ul>
     </nav>
 </header>