<%- include('../includes/head.ejs') %>

</head>

<body>
  <div class="container">

   <%- include('../ncludes/navigation.ejs') %>

    <main>
          <div>
            <h2 class="center">Page not found </h2>
          </div>
    </main>
  </div>
<%- include('../includes/end.ejs') %>
