meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
title Page not found
link(rel='stylesheet' href='/css/main.css')
.container
  header.header
    nav.header-nav
      ul.header-nav__items
        li.header-nav__item
          a(href='admin/add-product') Add product
        li.header-nav__item
          a(href='/') Shop
  main.main
    h2.main-text.
      
      page not found
      