<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="css/main.css">

</head>

<body>

    <div class="container">
        <header class="header">
            <nav class="header-nav">
                <ul class="header-nav__items">
                    <li class="header-nav__item"> <a href="admin/add-product">Add product</a></li>
                    <li class="header-nav__item"> <a href="/">Home</a></li>
                </ul>
            </nav>
        </header>
    
        <main class="main">
            <div>
                <h2 class="main-text">This is the product page </h2>
                <p class="main-text__secondary">Please add your book title below</p>
            </div>
            <div>
                <form action="/admin/add-product" method="POST">
                    <input type="text" placeholder="Add book title" name="bookTitle" class="btn"> <button>Add product</button>
                </form>
            </div>
    
        </main>
    </div>
</body>

</html>