<%- include('includes/head.ejs') %>

</head>

<body>
   <%- include('includes/navigation.ejs') %>

    
        <main class="main">
            <div>
                <h2 class="main-text">This is the product page </h2>
                <p class="main-text__secondary">Please add your book title below</p>
            </div>
            <div class="form-box">
                <form action="/admin/add-product" method="POST">
                    <input type="text" placeholder="Add book title" name="bookTitle" class="form-input"> 
                    <button class="btn">Add product</button>
                </form>
\            </div>
    
        </main>
    </div>
<%- include('includes/end.ejs') %>
