/* .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.center-box{
    margin-left: 4rem;
}
.form-text{
    margin-top: -1rem;
}

.form-box {
    margin-top: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.form-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
}

.form-input {
    padding: .5rem;
    width: 120%;
    color: black;
    background-color: #bebcbc;
    border: 1px solid #a83a9a;
    font-size: 1.2rem;
}

.form-btn{
   margin-left: 1.3rem;
} */