*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    box-sizing: border-box;
    background: #bebcbc;
}

.container .header{
    width: 100%;
    background-color: #bdca43;
    color: #6b2b63;
}

.container .header-nav__items{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.8rem;
    font-size: 1.2rem;
    color: #6b2b63;
}

.container .header-nav__items .header-nav__item a {
    text-decoration: none;
    color: #6b2b63;
    margin: 1rem;
}

.container .header-nav__items .header-nav__item a:hover{
    color: #dbc12d;
}