* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    box-sizing: border-box;
    background: #bebcbc;
}

.container .header {
    width: 100%;
    background-color: #bdca43;
    color: #a83a9a;
    color: #a83a9a;
}

.container .header-nav__items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.8rem;
    font-size: 1.2rem;
    color: #a83a9a;
}

.container .header-nav__items .header-nav__item a {
    text-decoration: none;
    color: #a83a9a;
    margin: 1rem;
}

.container .header-nav__items .header-nav__item a:hover {
    color: black;
}

.main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.main-text {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

.form-box {
    margin-top: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input {
    padding: .5rem 1.2rem;
    color: #a83a9a;
    background-color: #bebcbc;
    border: 1px solid #a83a9a;
    font-size: 1.2rem;
}
.btn {
    padding: .5rem 1.2rem;
    color: #a83a9a;
    background-color: #bdca43;
    font-size: 1.2rem;
    margin-left: .5rem;
    cursor: pointer;
}