* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    box-sizing: border-box;
    background: #bebcbc;
}

.container .header {
    width: 100%;
    background-color: #bdca43;
    color: #a83a9a;
}

.container .header-nav__items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.8rem;
    font-size: 1.2rem;
    color: #a83a9a;
}

.container .header-nav__items .header-nav__item a {
    text-decoration: none;
    color: #a83a9a;
    margin: 1rem;
}

.container .header-nav__items .header-nav__item a:hover {
    color: black;
}

.main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.main-text {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.center__col{
    flex-direction: column;
}
.form-box {
    margin-top: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input {
    padding: .5rem 1.2rem;
    color: #a83a9a;
    background-color: #bebcbc;
    border: 1px solid #a83a9a;
    font-size: 1.2rem;
}
.btn {
    padding: .5rem 1.2rem;
    color: #a83a9a;
    background-color: #bdca43;
    font-size: 1.2rem;
    margin-left: .5rem;
    cursor: pointer;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    margin: 1rem 0;
    max-width: 50%;
    cursor: pointer;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
    padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
    margin: 0;
}

.card__image {
    width: 100%;
}

.card__image img {
    width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}