<%- include('../includes/head.ejs') %>

</head>

<body>
    <div class="container">

        <%- include('../includes/navigation.ejs') %>

        <main>
            <div class="center">
                <h3>Welcome to the shop</h3>
            </div>
        </main>
    </div>
    <%- include('../includes/end.ejs') %>